<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63425/Service.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap" contract="ServiceReference1.ServiceSoap"
        name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>